.additional-form {
  .align-center;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
}

.additional-form__field {
  min-height: 26px;
  width: 100%;
  margin-bottom: 15px;
}

.additional-form__field-label {
  .oswald-400;
  font-size: 16px;
  line-height: 18px;
  color: @black;
  text-transform: uppercase;
}
