.contacts-form {
  padding-bottom: 10px;
}

.contacts-form__field {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}

.contacts-form__field-label {
  .oswald-400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 12px;
}

// .contacts-form__field-control[type="email"] {
//   background-image: url("../img/icon-email-tablet-mobile.svg");
//   background-repeat: no-repeat;
//   background-position: right 17px top 50%;
// }

// .contacts-form__field-control[type="tel"] {
//   background-image: url("../img/icon-phone-tablet-mobile.svg");
//   background-repeat: no-repeat;
//   background-position: right 13px top 50%;
// }

@media (min-width: @tablet-width) {
  .contacts-form {
    padding-bottom: 45px;
  }

  .contacts-form__field {
    margin-bottom: 20px;
  }

  .contacts-form__field-label {
    font-size: 20px;
    line-height: 30px;
    margin-right: 16px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-form {
    padding-bottom: 49px;
  }

  .contacts-form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;
  }

  .contacts-form__field {
    margin-bottom: 20px;
  }
}
