.main-header {
  padding-top: 10px;
  padding-bottom: 17px;
}

.main-header__container {
  .align-center;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-header__logo {
  width: 34px;
  height: 38px;
}

@media (min-width: @tablet-width) {
  .main-header {
    padding-top: 24px;
    padding-bottom: 31px;
  }

  .main-header__container {
    width: 708px;
  }

  .main-header__logo {
    width: 174px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding-top: 53px;
    padding-bottom: 29px;
  }

  .main-header__container {
    width: 1220px;
  }

  .main-header__logo {
    width: 202px;
    height: 59px;
  }
}
